@page "/NBAMatches/Read/{gameId}"
@model Pages.Matches.NBAReadModel
@using System
@using System.Reflection;

@{
    ViewData["Title"] = "Match Info";
}

<h2>
    <img src="@Model.Match.Teams.Home.Logo" width="50" class="mx-2" />
    @Model.Match.Teams.Home.Name vs.
    <img src="@Model.Match.Teams.Visitors.Logo" width="50" class="mx-2" />
    @Model.Match.Teams.Visitors.Name
</h2>

<div style="width: 60%; margin: 0 auto;">
    <table class="table table-bordered" style="background-color:lightgrey; border-radius:5px; width: 100%;">
        <tbody>
            <tr>
                <td><strong>Status</strong></td>
                <td>@Model.Match.Status.Long</td>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td>@Model.Match.Date.Start.ToString()</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Score by Quarter</h2>

@{
    int homeTotal = 0;
    int visitorTotal = 0;
}

<div style="display: flex; justify-content: center;">
    <table class="table table-striped" style="width: 60%; background-color:white;">
        <thead>
            <tr style="background-color:#d3d3d3;">
                <th>Quarter</th>
                <th>Team</th>
                <th>Score</th>
                <th style="text-align: center;">Total Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- 1st Quarter -->
            <tr>
                <td rowspan="2">1st Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Linescore[0])</td>
                <td style="text-align: center;">@(homeTotal += int.Parse(Model.Match.Scores.Home.Linescore[0]))</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Visitors.Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Visitors.Name
                </td>
                <td>@(Model.Match.Scores.Visitors.Linescore[0])</td>
                <td style="text-align: center;">@(visitorTotal += int.Parse(Model.Match.Scores.Visitors.Linescore[0]))</td>
            </tr>

            <!-- 2nd Quarter -->
            <tr>
                <td rowspan="2">2nd Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo"  width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Linescore[1])</td>
                <td style="text-align: center;">@(homeTotal += int.Parse(Model.Match.Scores.Home.Linescore[1]))</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Visitors.Logo"  width="30" class="mx-2" />
                    @Model.Match.Teams.Visitors.Name
                </td>
                <td>@(Model.Match.Scores.Visitors.Linescore[1])</td>
                <td style="text-align: center;">@(visitorTotal += int.Parse(Model.Match.Scores.Visitors.Linescore[1]))</td>
            </tr>

            <!-- 3rd Quarter -->
            <tr>
                <td rowspan="2">3rd Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo"width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Linescore[2])</td>
                <td style="text-align: center;">@(homeTotal += int.Parse(Model.Match.Scores.Home.Linescore[2]))</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Visitors.Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Visitors.Name
                </td>
                <td>@(Model.Match.Scores.Visitors.Linescore[2])</td>
                <td style="text-align: center;">@(visitorTotal += int.Parse(Model.Match.Scores.Visitors.Linescore[2]))</td>
            </tr>

            <!-- 4th Quarter -->
            <tr>
                <td rowspan="2">4th Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo"  width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Linescore[3])</td>
                <td style="text-align: center;">@(homeTotal += int.Parse(Model.Match.Scores.Home.Linescore[3]))</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Visitors.Logo"  width="30" class="mx-2" />
                    @Model.Match.Teams.Visitors.Name
                </td>
                <td>@(Model.Match.Scores.Visitors.Linescore[3])</td>
                <td style="text-align: center;">@(visitorTotal += int.Parse(Model.Match.Scores.Visitors.Linescore[3]))</td>
            </tr>

            <!-- Overtime (if applicable) -->
            @if (Model.HasOvertime)
            {
                <tr>
                    <td rowspan="2">Overtime</td>
                    <td>
                        <img src="@Model.Match.Teams.Home.Logo" width="30" class="mx-2" />
                        @Model.Match.Teams.Home.Name
                    </td>
                    <td>@(Model.Match.Scores.Home.Points - homeTotal)</td>
                    <td style="text-align: center;">@(Model.Match.Scores.Home.Points)</td>
                </tr>
                <tr>
                    <td>
                        <img src="@Model.Match.Teams.Visitors.Logo" width="30" class="mx-2" />
                        @Model.Match.Teams.Visitors.Name
                    </td>
                    <td>@(Model.Match.Scores.Visitors.Points - visitorTotal)</td>
                    <td style="text-align: center;">@(Model.Match.Scores.Visitors.Points)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
