@page "/NFLMatches/Read/{gameId}"
@model ContosoCrafts.WebSite.Pages.Matches.NFLReadModel
@using System
@using System.Reflection;

@{
    ViewData["Title"] = "Match Info";
}

<h2>
    <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="40" style="vertical-align: middle;" />
    @Model.Match.Teams.Home.Name vs.
    <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="40" style="vertical-align: middle;" />
    @Model.Match.Teams.Away.Name
</h2>

<div style="width: 60%; margin: 0 auto;">
    <table class="table table-bordered" style="background-color:lightgrey; border-radius:5px; width: 100%;">
        <tbody>
            <tr>
                <td><strong>Status</strong></td>
                <td>@Model.Match.Game.Status.Long</td>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td>@Model.Match.Game.Date.Date.ToString()</td>
            </tr>
            <tr>
                <td><strong>Time</strong></td>
                <td>@Model.Match.Game.Date.Time.ToString()</td>
            </tr>
            <tr>
                <td><strong>Venue</strong></td>
                <td>@Model.Match.Game.Venue.Name</td>
            </tr>
            <tr>
                <td><strong>Location</strong></td>
                <td>
                    @Model.Match.Game.Venue.City
                    @if (!string.IsNullOrEmpty(@Model.Match.Game.Venue.State))
                    {
                        <text>, @Model.Match.Game.Venue.State</text>
                    }
                    @if (!string.IsNullOrEmpty(@Model.Match.Game.Venue.Country))
                    {
                        <text>, @Model.Match.Game.Venue.Country</text>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Score by Quarter</h2>

@{
    int homeTotal = 0;
    int awayTotal = 0;
}

<div style="display: flex; justify-content: center;">
    <table class="table table-striped" style="width: 60%; background-color:white;">
        <thead>
            <tr style="background-color:#d3d3d3;">
                <th>Quarter</th>
                <th>Team</th>
                <th>Score</th>
                <th style="text-align: center;">Total Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- 1st Quarter -->
            <tr>
                <td rowspan="2">1st Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Quarter_1 ?? 0)</td>
                <td style="text-align: center;">@(homeTotal += Model.Match.Scores.Home.Quarter_1 ?? 0)</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Away.Name
                </td>
                <td>@(Model.Match.Scores.Away.Quarter_1 ?? 0)</td>
                <td style="text-align: center;">@(awayTotal += Model.Match.Scores.Away.Quarter_1 ?? 0)</td>
            </tr>

            <!-- 2nd Quarter -->
            <tr>
                <td rowspan="2">2nd Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Quarter_2 ?? 0)</td>
                <td style="text-align: center;">@(homeTotal += Model.Match.Scores.Home.Quarter_2 ?? 0)</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Away.Name
                </td>
                <td>@(Model.Match.Scores.Away.Quarter_2 ?? 0)</td>
                <td style="text-align: center;">@(awayTotal += Model.Match.Scores.Away.Quarter_2 ?? 0)</td>
            </tr>

            <!-- 3rd Quarter -->
            <tr>
                <td rowspan="2">3rd Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Quarter_3 ?? 0)</td>
                <td style="text-align: center;">@(homeTotal += Model.Match.Scores.Home.Quarter_3 ?? 0)</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Away.Name
                </td>
                <td>@(Model.Match.Scores.Away.Quarter_3 ?? 0)</td>
                <td style="text-align: center;">@(awayTotal += Model.Match.Scores.Away.Quarter_3 ?? 0)</td>
            </tr>

            <!-- 4th Quarter -->
            <tr>
                <td rowspan="2">4th Quarter</td>
                <td>
                    <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Home.Name
                </td>
                <td>@(Model.Match.Scores.Home.Quarter_4 ?? 0)</td>
                <td style="text-align: center;">@(homeTotal += Model.Match.Scores.Home.Quarter_4 ?? 0)</td>
            </tr>
            <tr>
                <td>
                    <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="30" class="mx-2" />
                    @Model.Match.Teams.Away.Name
                </td>
                <td>@(Model.Match.Scores.Away.Quarter_4 ?? 0)</td>
                <td style="text-align: center;">@(awayTotal += Model.Match.Scores.Away.Quarter_4 ?? 0)</td>
            </tr>

            <!-- Overtime (if applicable) -->
            @if (Model.HasOvertime)
            {
                <tr>
                    <td rowspan="2">Overtime</td>
                    <td>
                        <img src="@Model.Match.Teams.Home.Logo" alt="@Model.Match.Teams.Home.Name Logo" width="30" class="mx-2" />
                        @Model.Match.Teams.Home.Name
                    </td>
                    <td>@(Model.Match.Scores.Home.Overtime ?? 0)</td>
                    <td style="text-align: center;">@(homeTotal += Model.Match.Scores.Home.Overtime ?? 0)</td>
                </tr>
                <tr>
                    <td>
                        <img src="@Model.Match.Teams.Away.Logo" alt="@Model.Match.Teams.Away.Name Logo" width="30" class="mx-2" />
                        @Model.Match.Teams.Away.Name
                    </td>
                    <td>@(Model.Match.Scores.Away.Overtime ?? 0)</td>
                    <td style="text-align: center;">@(awayTotal += Model.Match.Scores.Away.Overtime ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
</div>