@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ExceptionMessage == null)
{
    <h2>Error Has Occurred</h2>

    <div class="alert alert-danger">
        <p class="text-dark">
            @if (Model.ErrorCode == 0)
            {
                <strong>Unknown Error Code - </strong>
            }
            
            @if (Model.ErrorCode > 0)
            {
                <strong>Error @Model.ErrorCode</strong>
            }

            @Model.ErrorMessage
        </p>

        @if (Model.ShowRequestId)
        {
            <p class="text-dark"> 
                <strong>Request ID:</strong> @Model.RequestId 
            </p>
        }

    </div>

}

@if (Model.ErrorMessage == null)
{
    <h2 class="full-width">An unhandled exception occurred while processing the request.</h2>

    <div class="alert alert-danger">
        <p class="text-dark"> 
            <strong>@Model.ExceptionMessage</strong>
                <br />

            @Model.StackTrace
        </p>

        @if (Model.ShowRequestId)
        {
            <p class="text-dark"> 
                <strong>Request ID:</strong> @Model.RequestId 
            </p>
        }

    </div>
}


