@page "{teamName?}"

@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@model ContosoCrafts.WebSite.Pages.MatchesModel


@{
    ViewData["Title"] = "Matches Page";
}

<h1>Previous Matches</h1>

<p>Here are the details about previous matches:</p>

<table class="table table-bordered table-striped" style="background-color:lightgrey;">
    <thead>
        <tr>
            <th>Match</th>
            <th>Date</th>
            <th>Location</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model.Matches)
        {
            <tr>
                <td>@match.Team1 vs @match.Team2</td>
                <td>@match.Date.ToString("MMMM dd, yyyy")</td>
                <td>@match.Location</td>
                <td>@match.Team1_Score - @match.Team2_Score</td>
            </tr>
        }
    </tbody>
</table>
