@page "/NFLMatches"
@model ContosoCrafts.WebSite.Pages.NFLMatchesModel

@{
    ViewData["Title"] = "NFL Match Results for 2024";
}

<h2>NFL Match Results for 2024</h2>

<table class="table table-bordered table-striped" style="background-color:lightgrey;">
    <thead>
        <tr>
            <th>Match (Home vs Away)</th>
            <th>Date</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Teams.Home.Name vs @game.Teams.Away.Name</td>
                <td>@game.Game.Date.Date @game.Game.Date.Time</td>
                <td align="center">@game.Scores.Home.Total - @game.Scores.Away.Total</td>
                <td style="text-align: center; font-family:'Century Gothic';">
                    <!-- Read Button -->
                    <a asp-page="NFLMatchRead" asp-route-gameId="@game.Game.Id" class="btn btn-teal">View Match Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@if (!(Model.Games?.Any() ?? false))
{
    <p>No games available for 2024.</p>
}
