@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavigationManager
@inject JsonFileProductService ProductService


@code {

    // Parameters to accept from the parent component, by default it filters for ProductType = Sport
    [Parameter] public string ProductTypeFilter { get; set; } = "Sport";

    // Filters for a specific Sport
    [Parameter] public string SportFilter { get; set; } = null;


    // Variables for the filtered product list
    private IEnumerable<ProductModel> filteredProducts;


    // Re-fetch all products and apply filter when the component is loaded
    protected override async Task OnInitializedAsync()
    {
        await LoadFilteredProducts(); // Fetch the products and apply the initial filter
    }

    // Method to load filtered products from the service
    private async Task LoadFilteredProducts()
    {
        filteredProducts = ProductService.GetFilteredData(ProductTypeFilter, SportFilter);
    }

    // Method to handle filtering for just teams
    private async Task FilterByProductType(string type)
    {
        SportFilter = null; // Set SportFilter to null for "Sport" filter. only will search that type
        ProductTypeFilter = type;

        await LoadFilteredProducts(); // Fetch filtered products
    }

    private async Task FilterBySport(string sport)
    {
        SportFilter = sport; // Set SportFilter to null for "Sport" filter
        ProductTypeFilter = "Team";

        await LoadFilteredProducts(); // Fetch filtered products
    }

    // Method to handle filtering when the second button is clicked (for Team and Sport)
    private async Task FilterShowAllSports()
    {
        SportFilter = null;
        ProductTypeFilter = "Sport"; // Set SportFilter sport for filtering
        await LoadFilteredProducts(); // Fetch filtered products by Team and Sport
    }

    // Method to navigate to the read page
    private void NavigateToRead(string teamName)
    {
        NavigationManager.NavigateTo($"Product/Read/{teamName}", forceLoad: true); 
    }
}

<div>
    <!-- Filter buttons -->
    <button @onclick="FilterShowAllSports" class="btn btn-primary">Show Sports</button>
</div>


<div class="card-columns">
    @foreach (var product in filteredProducts)
    {
        <div class="card">
            <button class="card-img" style="background-image: url('@product.Image'); border: none; background-size: cover; background-repeat: no-repeat; background-position: center;"
                    @onclick="(e => FilterBySport(product.Sport))">
            </button>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <div class="d-flex flex-column align-items-center">
                    <button @onclick="(e => SelectProduct(product.Id))"
                        data-toggle="modal" data-target="#productModal"
                        class="btn btn-primary btn-uniform-width">
                        More Info
                    </button>

                    @if (product.ProductType == ProductTypeEnum.Sport)
                    {
                       
                        <button @onclick="(e => FilterBySport(product.Sport))"
                        class="btn btn-custom-blue mt-2 btn-uniform-width">
                            View Teams
                        </button>
                    }

                    @if (product.ProductType == ProductTypeEnum.Team)
                    {
                       
                        <button @onclick="() => NavigateToRead(product.Title)"
                        class="btn btn-custom-blue mt-2 btn-uniform-width">
                            Read More
                        </button>
                    }
                </div>

            </div>
        </div>
    }
</div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.Image');">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Description</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (voteCount == 0)
                    {
                        <span>Be the first to vote!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star checked" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code
{
    ProductModel selectedProduct;
    string selectedProductId;

    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetAllData().First(x => x.Id == productId);
        GetCurrentRating();
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {
        if (selectedProduct.Ratings == null)
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedProduct.Ratings.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";
            currentRating = selectedProduct.Ratings.Sum() / voteCount;
        }

        System.Console.WriteLine($"Current rating for {selectedProduct.Id}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        System.Console.WriteLine($"Rating received for {selectedProduct.Id}: {rating}");
        ProductService.AddRating(selectedProductId, rating);
        SelectProduct(selectedProductId);
    }
}
